/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

/** Colours imortend from Kick.AI theme */
$brand-primary: #E67564;
$brand-secondary: #D9BC5B;
$brand-tertiary: #272727;
$brand-quaternary: #63AA8B;
$brand-white: #fff;
$brand-black: #333333;
$brand-light: #F7F7F7;

$color-bodytext: $brand-black;
$color-gray: #C7C7C7;
$color-gray-dark: #9e9e9e;

$palettes: (
    action: (
        link: #999
    ),
    button: (
        background: #555,
        background--highlight: $brand-primary,
        background--hover: darken(#555, 10%),
        background--danger: $brand-primary,
        background--danger-hover: darken($brand-primary, 10%),
        background--highlight-hover: darken($brand-primary, 10%),
        color: $brand-white,
        color--highlight: $brand-white,
    ),
    error: (
        color: $brand-primary,
        text-color: #333,
        text-color--invert: #fff
    ),
    badge: (
        background--success: $brand-quaternary,
        background--error: $brand-primary,
        background--warn: $brand-secondary,
        text--success: $brand-white,
        text--error: #fff,
        text--warn: #333
    ),
    flash: (
        background--error: $brand-primary,
        background--success: $brand-quaternary,
        background--warning: $brand-secondary,
        background--confirm: #222,
        border: #333,
        color: $brand-white,
        color--invert: #fff
    ),
    footer: (
        background: #222,
        color: #555,
        color--highlight: #999
    ),
    form: (
        background: #fff,
        border: #eee,
        border--focus: #333,
        color: #555,
        color--highlight: #333,
        label-color: #999
    ),
    header: (
        background: $brand-white,
        background--highlight: #111,
        color: $brand-white,
        label-color: #999
    ),
    layout: (
        background: #fff,
        border: #eee,
        close-color: $color-bodytext,
        color: #999,
        content-background: #f8f8f8,
        content-border: #bbb,
        loading-color: #333
    ),
    loader: (
        background: #222,
        background--highlight: $brand-secondary
    ),
    product: (
        background: #f8f8f8,
        border: #eee,
        color--error: $brand-primary,
        color--highlight: #333
    ),
    quantity-trigger: (
        background: #ccc,
        background--hover: $brand-secondary,
        background--disabled: #eee,
        color: #111,
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--link: #999
    ),
    step: (
        background: #ccc,
        background--active: #fff,
        border: #bbb,
        color: #999,
        color--active: #333
    ),
    table: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--success: $brand-quaternary
    ),
    tooltip: (
        background: #ccc,
        border: #ccc transparent,
        label: #555,
        text: #111
    )
);